/* CSS属性书写顺序：
1、布局定位属性：display/position/float/clear/visibility/overflow
2、自身属性:width/height/margin/padding/border/background
3、文本属性:color/font/text-decoration/text-align/vertical-align/white-space/break-word
4、其他属性（CSS3）:content/cursor/border-radius/box-shadow/text-shadow/...
 */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f3f5f7;
}
.w {
    width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #050505;
}
li {
    list-style: none;
}
.header {
    height: 42px;
    /* background-color: red; */
    margin: 30px auto;
}
.logo {
    float: left;
    height: 42px;
    width: 198px;
}
.nav {
    float: left;
    margin-left: 60px;
} 
.nav li {
    float: left;
    margin: 0 15px;
}
.nav li a {
    display: block;
    height: 40px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
}
.nav li a:hover {
    border-bottom: #00a4ff solid 2px;
    color: #00a4ff;
}
.search {
    float: left;
    height: 42px;
    width: 412px;
    margin-left: 70px;
}
.search input {
    float: left;
    width: 345px;
    height: 40px;
    border:1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}
.search button {

    float: left;
    width: 50px;
    height: 42px;
        /* 按钮button默认有个边框 需要去掉*/
    border: none;
    background: url(../images/fa-search.jpg);
}
.user {
    float:right;
    margin-right: 40px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
}
.banner {
    height: 421px;
    background-color: #1b0c6f;
}
.banner .w {
    height: 421px;
    /* background-color: pink; */
    background: url(../images/banner2.jpg) no-repeat top center;
}
.banner .subnav {
    float: left;
    width: 190px;
    height: 421px;
    background-color: rgba(0, 0, 0, .3);
}
.subnav ul li {
    height: 46px;
    line-height: 46px;
    padding:0 20px;
}
.subnav ul li a {
    display: block;
    color: #fff;
    font-size: 14px;
}
.subnav ul li a:hover {
    color: #00a4ff;
}
.subnav ul li a span {
    float: right;
}
.banner .course {
    float:right;
    width: 230px;
    height: 300px;
    margin-top: 50px;
    background-color: #fff;
}
.course h2 {
    height: 48px;
    line-height: 48px;
    font: 700;
    font-size: 18px;
    color: #fff;
    background-color: #9bceea;
    text-align: center;
}
.course .bd {
    padding: 18px;

}
.course .bd ul li{
    padding: 6px 0;
    border-bottom: 1px solid #eaeaea;
}
.course .bd ul li p {
    font-size: 12px;
    color: #666;
}
.course .bd ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}
.course .bd a {
    display: block;
    height: 38px;
    margin-top: 15px;
    line-height: 38px;
    text-align: center;
    border: 1px solid  #00a4ff;
    font-size: 16px;
    font-weight: 700;
    color: #00a4ff;
}
