.w {
    width: 1200px;
    margin: 0 auto;
}
header {
    height: 84px;
    line-height: 84px;
    border-bottom: 2px solid #c81523;
}
.register {
    margin-top: 20px;
    height: 522px;
    border: 1px solid #ccc;
}
.register h3 {
    padding: 0 15px;
    height: 41px;
    font-size: 18px;
    line-height: 41px;
    background-color: #ececec;
    border-bottom: 1px solid #ccc;
}
.login {
    float: right;
    font-size: 14px;
}
.login a {
    color: #c81523;
}
.reg_form {
    margin: 50px auto 0;
    width: 600px;
    /* background-color: aqua; */
}
.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_form ul li {
    margin-top: 20px;
}
.reg_form ul li input[type=text],
.reg_form ul li input[type=password] {
    width: 242px;
    height: 37px;
    border:1px solid #ccc
}
.error {
    margin-left: 10px;
    color: #c81523;
}
.error_icon,
.success_icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    width: 20px;
    height: 20px;
    background: url(../images/error_icon.png);
}
.success {
    margin-left: 10px;
    color: #24e67f;
}
.success_icon {
    background: url(../images/success.png);
}
.safe {
    margin-top: 10px;
    margin-left: 170px;
}
.safe em{
    padding: 0 12px;
    color: #fff;
}
.weak {
    background-color: #de1111;
}
.middle {
    background-color: #40b83f;
}
.strong {
    background-color: #f79100;
}
.agree {
    padding-left: 125px;
}
.agree  input{
    vertical-align: middle;
}
.agree a {
    color: #1ba1e6;
}
.btn {
    margin-left: 110px;
    width: 200px;
    height: 34px;
    font-size: 18px;
    color: #fff;
    background-color: #c81523;
}
.mod_copyright{
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
}
.mod_copyright .links ul li {
    display: inline-block;
}
.mod_copyright .links ul li:nth-child(even){
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 0 5px;
}